<%= form_for(@committees_voivodeship) do |f| %>
  <% if @committees_voivodeship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committees_voivodeship.errors.count, "error") %> prohibited this committees_voivodeship from being saved:</h2>

      <ul>
      <% @committees_voivodeship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee %><br />
    <%= collection_select(:committees_voivodeship, :committee_id, Committee.all, :id, :name, {prompt: true}, class: 'form-control') %>
    <%#= f.select :committee_id, @committees %>
  </div>
  <div class="field">
    <%= f.label :voivodeship %><br />
    <%= collection_select(:committees_voivodeship, :voivodeship_id, Voivodeship.all, :id, :name, {prompt: true}, class: 'form-control') %>
    <%#= f.select :voivodeship_id, @voivodeships %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
