<p><strong> Invalid votes in <%= @voi.name %> </strong></p>
<p>
Amount of invalid votes: <%= @invalid %>
</p>

<p>
Empty cards: <%= @empty %>
</p>

<p>
Multiple choice: <%= @multiple %>
</p>

<p>
Other: <%= @other %>
</p>

<%= link_to 'Back', voivodeship_path(@voi) %>
