<p><b>Constituency <%= @constituency.id %> in voivodeship <%= @constituency.voivodeship.name %>
</p>
<p>
Frekwencja:</b><br />
<% if @frekwencja > 100 %>
  100
<% else %>
  <%= @frekwencja %>
<% end %>
<%#= @constituency.entitled %> %
</p>

<%= link_to 'Show', @constituency %> |
<%= link_to 'Back', constituencies_path %>
