<%= form_for @user_session do |f| %>
    <!-- komunikaty błędów -->
    <p>
      <%= f.label :login %> <br />
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :password %> <br />
      <%= f.password_field :password %>
    </p>
    <p><%= f.submit "Submit" %> </p>
<% end %>

<%#<p>%>
<%#Login to %>
<%#= link_to 'admin account', new_admin_user_session_path %>
<%#</p> %>
